

<script src="flashcanvas.js"></script>
<script src="jquery.min.js"></script>
<script src="jquery.signaturepad.min.js"></script>
<script src="json2.min.js"></script>




 <%= form_for(@signatur, html: { class: 'sigPad' }) do |f| %>
  <% if @signatur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cms849.errors.count, "error") %> prohibited this cms849 from being saved:</h2>
      <ul>
        <% @signatur.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p class="drawItDesc">Draw your signature</p>
  <ul class="sigNav">
    <li class="drawIt"><a href="#draw-it">Draw It</a></li>
    <li class="clearButton"><a href="#clear">Clear</a></li>
  </ul>
  <div class="sig sigWrapper">
    <canvas class="pad" width="198" height="55"></canvas>
    <input type="hidden" name="output" class="output">
  </div>
  
  <div class="actions">
    <%= f.submit "Create Signature" %>
  </div>
<% end %>



         
<script >
 $(document).ready(function () {
  $('.sigPad').signaturePad({drawOnly:true});
});
  </script>